
<div class="pt-6 ">
 

  <!-- ROW 1: Buscador y acciones -->
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 mb-6">
  <div class="relative w-full shadow-lg">
    <!-- Icono -->
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none text-gray-400">
      <i class="fas fa-search"></i>
    </div>

    <!-- Input -->
    <input
      type="text"
      placeholder="Buscar por nombre"
      class="block w-full pl-10 pr-3 py-5 border rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>


    <select
      class="flex items-center gap-2 px-4 py-2 bg-white border rounded-lg text-sm shadow-lg text-gray-700 hover:bg-gray-50 cursor-pointer" (change)="onCategoryChange($event)">
      <option value="">Ver todas las categorías</option>
      <option *ngFor="let cat of lstCategories" [value]="cat.cat_id">
        {{ cat.cat_name }}
      </option>
    </select>


    <button class="flex items-center gap-2 px-4 py-2 bg-white border rounded-lg text-sm shadow-lg text-gray-700 hover:bg-gray-50">
      <i class="fas fa-qrcode"></i>
      Catálogo virtual
    </button>

    <button class="flex items-center gap-2 px-4 py-2 bg-[rgb(29,39,49)] hover:bg-blue-700 rounded-lg text-sm shadow-lg text-white">
      <i class="fas fa-shopping-cart"></i>
      Registrar compras
    </button>

    <button class="flex items-center gap-2 px-4 py-2 bg-white border rounded-lg text-sm shadow-lg text-gray-700 hover:bg-gray-50">
      <i class="fas fa-chart-line"></i>
      Estadísticas
    </button>
  </div>


  <!-- ROW 2: Totales -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
    <div class="bg-white px-4 py-5 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold text-gray-700">2</p>
      <p class="text-xs text-gray-400">Total de referencias</p>
    </div>
    <div class="bg-white px-4 py-5 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold text-gray-700">{{totalInventoryCost | currency}}</p>
      <p class="text-xs text-gray-400">Costo total de inventario</p>
    </div>
  </div>

  <!-- ROW 3: Tabla -->
  <div class="bg-white rounded-xl shadow overflow-hidden">
    <table class="w-full text-left">
      <thead class="bg-gray-100 text-sm text-gray-600">
        <tr>
          <th class="p-3">Producto</th>
          <th class="p-3">Precio</th>
          <th class="p-3">Costo</th>
          <th class="p-3">Cantidad disponible</th>
          <th class="p-3">Ganancia</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let prod of lstProducts"
          class="border-t hover:bg-gray-50 text-sm"
        >
          <td class="flex items-center gap-3 p-3">
            <img
              [src]="prod.prod_image || 'assets/no-image.png'"
              class="w-10 h-10 rounded object-cover"
              alt="imagen producto"
            />
            <span
              class="text-blue-600 font-medium hover:underline cursor-pointer"
            >
              {{ prod.prod_name }}
            </span>
          </td>

          <td class="p-3">${{ prod.prod_sale_price }}</td>
          <td class="p-3">${{ prod.prod_purchase_cost }}</td>
          <td class="p-3">{{ prod.prod_quantity_available }}</td>

          <td class="p-3 flex items-center gap-2">
            <span>${{ prod.prod_sale_price - prod.prod_purchase_cost }}</span>
            <span
              class="text-xs px-2 py-0.5 rounded-full"
              [ngClass]="{
                'bg-green-100 text-green-700':
                  (prod.prod_sale_price - prod.prod_purchase_cost) /
                    prod.prod_purchase_cost >
                  0.2,
                'bg-yellow-100 text-yellow-700':
                  (prod.prod_sale_price - prod.prod_purchase_cost) /
                    prod.prod_purchase_cost <=
                  0.2
              }"
            >
              {{
                ((prod.prod_sale_price - prod.prod_purchase_cost) /
                  prod.prod_purchase_cost) *
                  100 | number: '1.0-0'
              }}%
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
