<div class="pt-6">
  <!-- ROW 1: Buscador y acciones -->
  <div class="grid grid-cols-2 md:grid-cols-5 gap-4 mb-6">
    <select
      class="flex items-center gap-2 px-4 py-2 bg-white border rounded-lg text-sm shadow-lg text-gray-700 hover:bg-gray-50 cursor-pointer"
      (change)="onCategoryChange($event)"
    >
      <option value="">Ver todas las categorías</option>
      <option *ngFor="let cat of lstCategories" [value]="cat.cat_id">
        {{ cat.cat_name }}
      </option>
    </select>

    <button
      class="flex items-center gap-2 px-4 py-2 bg-white border rounded-lg text-sm shadow-lg text-gray-700 hover:bg-gray-50"
    >
      <i class="fas fa-qrcode"></i>
      Catálogo virtual
    </button>

    <button
      class="flex items-center gap-2 px-4 py-2 bg-[rgb(29,39,49)] hover:bg-blue-700 rounded-lg text-sm shadow-lg text-white"
    >
      <i class="fas fa-shopping-cart"></i>
      Registrar compras
    </button>

    <button
      class="flex items-center gap-2 px-4 py-2 bg-white border rounded-lg text-sm shadow-lg text-gray-700 hover:bg-gray-50"
    >
      <i class="fas fa-chart-line"></i>
      Estadísticas
    </button>
  </div>

  <!-- ROW 2: Totales -->
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-6">
    <div class="bg-white px-4 py-5 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold text-gray-700">{{ lstProducts.length }}</p>
      <p class="text-xs text-gray-400">Total de referencias</p>
    </div>
    <div class="bg-white px-4 py-5 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold text-gray-700">
        {{ totalInventoryCost | currency }}
      </p>
      <p class="text-xs text-gray-400">Costo total de inventario</p>
    </div>
    <div class="bg-white px-4 py-5 rounded-lg shadow-lg text-center">
      <p class="text-lg font-bold text-gray-700">
        {{ totalInventoryCostClient | currency }}
      </p>
      <p class="text-xs text-gray-400">Costo total de ventas</p>
    </div>
  </div>

  <!-- ROW 3: Tabla -->
  <div class="bg-white rounded-xl overflow-hidden">
    <!-- 🔍 Buscador -->
    <div class="flex items-center justify-between mb-4">
  <input
    type="text"
    placeholder="Buscar producto..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange()"
    class="w-70 lg:w-1/3 p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"
  />
</div>


    <!-- 📋 Tabla -->
    <div class="w-full overflow-x-auto rounded-lg">
      <table class="w-full min-w-[900px] text-left">
        <thead class="bg-gray-100 text-sm text-gray-600">
          <tr>
            <th class="p-3 whitespace-nowrap">Producto</th>
            <th class="p-3 whitespace-nowrap">Código</th>
            <th class="p-3 whitespace-nowrap">Precio Cliente</th>
            <th class="p-3 whitespace-nowrap">Costo</th>
            <th class="p-3 whitespace-nowrap">Cantidad disponible</th>
            <th class="p-3 whitespace-nowrap">Ganancia</th>
            <th class="p-3 whitespace-nowrap">Fecha</th>
            <th class="p-3 whitespace-nowrap">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let prod of paginatedProducts | search : searchTerm"
            class="border-t hover:bg-gray-50 text-sm"
          >
            <td class="p-3 flex flex-col items-center gap-2">
              <img
                [src]="prod.prod_image || 'assets/no-image.png'"
                class="w-10 h-10 rounded object-cover cursor-pointer transition-transform hover:scale-105"
                alt="imagen producto"
                (click)="openImageModal(prod.prod_image)"
              />
              <span
                class="text-blue-600 font-medium hover:underline cursor-pointer text-center"
              >
                {{ prod.prod_name }}
              </span>
            </td>

            <td class="p-3 whitespace-nowrap">{{ prod.prod_code }}</td>

            <td class="p-3 text-[#eb2f96] whitespace-nowrap">
              ${{ prod.prod_sale_price }}
            </td>

            <td class="p-3 whitespace-nowrap">
              ${{ prod.prod_purchase_cost }}
            </td>

            <td class="p-3 whitespace-nowrap">
              {{ prod.prod_quantity_available }}
            </td>

            <td class="p-3 whitespace-nowrap">
              <span>
                ${{
                  prod.prod_sale_price - prod.prod_purchase_cost
                    | number : "1.2-2"
                }}
              </span>

              <span
                class="text-xs px-2 py-0.5 rounded-full ml-1"
                [ngClass]="{
                  'bg-green-100 text-green-700':
                    (prod.prod_sale_price - prod.prod_purchase_cost) /
                      prod.prod_purchase_cost >
                    0.2,
                  'bg-yellow-100 text-yellow-700':
                    (prod.prod_sale_price - prod.prod_purchase_cost) /
                      prod.prod_purchase_cost <=
                    0.2
                }"
              >
                {{
                  ((prod.prod_sale_price - prod.prod_purchase_cost) /
                    prod.prod_purchase_cost) *
                    100 | number : "1.0-0"
                }}%
              </span>
            </td>

            <td class="p-3 whitespace-nowrap">
              {{
                prod.created_at
                  ? (prod.created_at.toDate() | date : "dd/MM/yyyy HH:mm:ss")
                  : (prod?.prod_start_date | date : "dd/MM/yyyy")
              }}
            </td>

            <td class="p-3 flex items-center gap-2 whitespace-nowrap">
              <button
                (click)="editProduct(prod)"
                [disabled]="
                  !(authService.isAdmin() || authService.isEmployee())
                "
                class="flex items-center gap-2 px-3 py-1 rounded-lg bg-blue-100 text-blue-700 hover:bg-blue-200"
              >
                ✏️ <span class="text-sm font-medium">Editar</span>
              </button>

              <button
                (click)="confirmDelete(prod)"
                [disabled]="
                  !(authService.isAdmin() || authService.isEmployee())
                "
                class="flex items-center gap-2 px-3 py-1 rounded-lg bg-red-100 text-red-700 hover:bg-red-200"
              >
                🗑️ <span class="text-sm font-medium">Eliminar</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 🔢 Controles de paginación -->
    <div class="flex justify-center items-center mt-4 gap-2">
      <button
        class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 disabled:opacity-50"
        [disabled]="currentPage === 1"
        (click)="prevPage()"
      >
        Anterior
      </button>

      <span class="text-sm text-gray-600">
        Página {{ currentPage }} de {{ totalPages }}
      </span>

      <button
        class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 disabled:opacity-50"
        [disabled]="currentPage === totalPages"
        (click)="nextPage()"
      >
        Siguiente
      </button>
    </div>
  </div>

  <div
    *ngIf="selectedImage"
    class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50"
  >
    <div class="relative">
      <!-- Imagen grande -->
      <img
        [src]="selectedImage"
        alt="Vista previa"
        class="w-auto h-auto max-w-[90vw] max-h-[90vh] rounded-lg shadow-2xl object-contain transition-transform duration-300"
      />

      <!-- Botón cerrar -->
      <button
        (click)="closeImageModal()"
        class="absolute top-3 right-3 bg-white/80 text-gray-900 rounded-full p-2 shadow hover:bg-white focus:outline-none"
      >
        ✕
      </button>
    </div>
  </div>
</div>

<div class="block lg:hidden">
  <br><br><br><br>
</div>


